Django==1.9.3
Markdown==2.6.5
Pillow==3.1.1
PyYAML==3.11
argparse==1.2.1
django-appconf==1.0.1
django-authtools==1.4.0
django-filter==0.12.0
django-filters==0.2.1
django-geojson==2.9.0
django-grappelli==2.8.1
django-grappelli-filters==0.2.1
django-imagekit==3.3
django-jquery==1.9.1
django-jsonfield==0.9.19
django-leaflet==0.18.0
django-markdown==0.8.4
django-rest-swagger==0.3.5
djangocms-admin-style==1.1.0
djangorestframework==3.3.2
inmagik-drf-auth==0.1.1
jsonfield==1.0.3
pilkit==1.1.13
psycopg2==2.6.1
requests==2.9.1
six==1.10.0
sortable==0.1.1
suds==0.4
virtualenv==1.11.1
wsgiref==0.1.2
